# Estrutura de repetição

# For

In [2]:
# For Range
for contador in range(10):
    print(contador)

0
1
2
3
4
5
6
7
8
9

In [3]:
# For Range + Break
for contador in range(1000):
    print(contador)
    if contador == 2:
        break

0
1
2

In [4]:
lista = ["Teste1", "Teste2"]

In [5]:
# For Simples
for val in lista:
    print(val)

Teste1
Teste2

In [6]:
# For com Enumerate
for i, val in enumerate(lista):
    print(i, val)

0 Teste1
1 Teste2

# For com operadores compostos

In [11]:
lista2 = [2, 3, 4]

In [12]:
for val in lista2:
  val += 1
  print(val)

3
4
5

In [13]:
for val in lista2:
  val *= 2
  print(val)

4
6
8

# While

In [16]:
val=1
while val < 6:
  val *= 2
  print(val)

2
4
8

In [21]:
# While com else
val=1
while val < 10:
    val *= 2
else:
  print("Valor de val é: ", val)

Valor de val é:  16